{% extends "layouts/base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% translate "Password reset" %}{% endblock %}

{% block content %}
  
<div class="d-flex justify-content-center">
  <form method="POST" class="form-control bg-light">
    <div class="d-flex flex-column align-items-center my-3">
      <div class='text-secondary mb-3'>
        <h3>{% translate "Password forgot?" %}</h3>
        <h6>{% translate "After sending the request, you will receive an email with the instructions for recovering the password." %}</h6>
      </div>
      {% csrf_token %}
      {% for field in form %}
      <div class="w-50 mx-auto my-3">
        {% if field.label_tag %}
        <div class="d-flex flex-column align-items-start mx-2 mb-1">
          <small class="form-text text-muted">{{ field.label_tag }}</small>
        </div>
        {% endif %}
        
        {{ field }}

        {% if field.help_text %}
          <div class="d-flex flex-column align-items-start mx-2 mt-1">
            <small class="form-text text-muted">{{ field.help_text }}</small>
          </div>
        {% endif %}
      </div>
    {% endfor %}

    {% for field in form %}
      {% if field.errors %}
      <div class="d-flex flex-column align-items-center mx-auto mt-2">
        {% for error in field.errors %}
          <small class="form-text-danger">{{ error }}</small>
        {% endfor %}
      </div>
      {% endif %}
    {% endfor %}

      <button type="submit" class="btn btn-outline-secondary w-50 h-100 mx-auto my-4" data-toggle="tooltip" data-placement="top" title="Send">
        Send
      </button>
    </div>
    <div class='d-flex justify-content-center mb-4'>
      <a class="btn btn-outline-secondary btn-sm mx-4" href="{% url 'account:login' %}">
        {% translate "Back to Login" %}
      </a>
      <a class="btn btn-outline-secondary btn-sm mx-4" href="{% url 'account:signup' %}">
        {% translate "Create a new user" %}
      </a>
    </div>
  </form>
</div>

{% endblock %}
