{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %}{% translate "Password reset complete" %} {% endblock %}

{% block content %}
<div class="d-flex justify-content-center bg-light">
    <div class="d-flex flex-column align-items-center">
        <div class='text-secondary'>
          <h2>{% translate "The password has been successfully reset!" %}</h2>
          <br>
          <p>{% translate "Go to the login page" %}</p>
        </div>
        <div class='d-flex justify-content-center my-3'>
            <a class="btn btn-outline-secondary btn-sm mx-4" href="{% url 'account:login' %}">
              {% translate "Back to Login" %}
            </a>
        </div>
    </div>
</div>

{% endblock %}