{% extends "layouts/base.html" %}
{% load i18n %}
{% block title %}{% translate "Password reset done" %} {% endblock %}


{% block content %}
<div class='d-flex justify-content-center bg-light'>
  <div class="d-flex flex-column align-items-center my-4">
    {% blocktranslate %}
    <div class='text-secondary my-2'>
      <h3>Email Sent!</h3>
      <br>
      <h6>Check the email, you will soon find a link to reset your password.</h6>
    </div>
    {% endblocktranslate %}
    <a class="btn btn-outline-secondary btn-sm w-50 h-100 mx-auto my-4" href="{% url 'account:login' %}">
      {% translate "Login" %}
    </a>
  </div>
</div>
{% endblock %}