{% load i18n %}{% autoescape off %}
{% blocktranslate %}Password reset email from the site user: {{ site_name }}.{% endblocktranslate %}

{% translate "Click here to choose a new password:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'account:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'In case you forgot, the user is:' %} {{ user }}

{% translate "Thank you!" %}

{% blocktranslate %}The site team {{ site_name }} {% endblocktranslate %}

{% endautoescape %}
