
{% extends "layouts/base.html" %}

{% block title %} Messages to approve {% endblock %}

{% block stylesheets %}
<style>
  @media (max-width: 800px) {
    /* Adjust the minimum size for smaller screens */
    div.card-subtitle {
      font-size: 15px;
    }
    h4.card-title {
      font-size: 16px;
    }
    p.card-text {
      font-size: 14px;
    }
    div.text-muted.small {
      text-align: right;
    }
    nav.nav-pagination-class {
      opacity: 50%;
    }
  }
</style>
{% endblock %}

{% block content %}

<div id='message-container-id' style='min-height: 100vh;' class="row container-fluid justify-content-between pt-4 mx-1">
  <div class='col-md-1'>
  </div>
  <div id='message-list-id' class="col-md-8 d-flex flex-column justify-content-end">
    <div class="flex-grow-1 overflow-auto">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Messages to approve
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% else %}
              {% endif %}  
          </h6>
          <br>

            <form method="post">
              {% for message in messages_to_approve %}
              {% csrf_token %}
              <div class="card border-primary mb-3">
                <div class="card-subtitle card-header d-flex justify-content-between px-5 mt-2">
                  <div>
                    {{ message.name }} 
                  </div>
                  <div> 
                    {{ message.email }}
                  </div>
                </div>
                <p class="card-text px-5 my-2">{{ message.text }}</p>
                <div class="card-footer px-5 d-flex justify-content-between">
                  <div class="px-1 mt-1">
                    <button class='btn btn-outline-secondary w-100' type="submit" name="approved_messages" value="{{ message.id }}">Approve Message</button>
                  </div>
                  <div class="text-muted small">
                    Created at: {{ message.created_at|date:"d/m/Y" }}
                  </div>
                </div>
              </div><br>
              {% endfor %}
            </form>
          </div>
      </div>
    </div>
    <nav aria-label="Page navigation" class='nav-pagination-class'>
      <ul class="pagination justify-content-center mt-3">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
        {% endif %}
    
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}
    
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
    
  </div>
  <div class='col-md-1'>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
