aiohttp==3.8.5
aiosignal==1.3.1
asgiref==3.5.0
async-timeout==4.0.2
attrs==23.1.0
awsebcli==3.20.9
beautifulsoup4==4.12.2
boto3==1.28.46
botocore==1.31.46
cement==2.8.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.3
dataclasses-json==0.5.14
decorator==5.1.1
Django==4.0.4
django-cors-headers==4.1.0
django-rosetta==0.9.9
django-storages==1.14
django-tempus-dominus==5.1.2.17
exceptiongroup==1.1.2
frozenlist==1.4.0
future==0.18.3
geocoder==1.38.1
geographiclib==2.0
greenlet==2.0.2
h11==0.14.0
idna==3.4
jmespath==1.0.1
joblib==1.2.0
langchain==0.0.248
langsmith==0.0.16
marshmallow==3.20.1
multidict==6.0.4
mypy-extensions==1.0.0
ngrok==0.8.1
nltk==3.8.1
numexpr==2.8.4
numpy==1.24.3
openai==0.27.8
openapi-schema-pydantic==1.2.4
outcome==1.2.0
packaging==23.1
pandas==2.0.1
pathspec==0.10.1
Pillow==9.5.0
polib==1.2.0
pycparser==2.21
pydantic==1.10.8
pypdf==3.14.0
PySocks==1.7.1
python-dateutil==2.8.2
python-decouple==3.6
pytz==2023.3
PyYAML==5.4.1
ratelim==0.1.6
regex==2023.5.5
requests==2.31.0
rosetta==0.3
s3transfer==0.6.2
scipy==1.10.1
selenium==4.10.0
semantic-version==2.8.5
six==1.14.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==2.0.19
sqlparse==0.4.2
tenacity==8.2.2
termcolor==1.1.0
tqdm==4.65.0
trio==0.22.2
trio-websocket==0.10.3
typing-inspect==0.9.0
typing_extensions==4.6.2
tzdata==2022.1
urllib3==1.26.16
wcwidth==0.1.9
whitenoise==6.4.0
wsproto==1.2.0
yarl==1.9.2
