<style>
  .navbar {
    transition: top 0.5s ease-in-out;
    z-index: 1000;
  }

  .navbar .navbar-brand {
    height: 80px; /* Adjust the height as needed */
    line-height: 80px; /* Vertically center the content */
  }

  .navbar .nav-link:hover {
    filter: invert(30%);
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    line-height: 30px; /* Vertically center the content */
    background-color: rgba(0, 0, 0, 0.8);
  }
</style>

<nav class="navbar navbar-expand-lg container-fluid bg-dark" id='navbar'>
    <div class="container-fluid px-4">
      <a class="navbar-brand h1 text-danger" href="{% url 'home:home' %}">rp2r</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown h5">
            <a class="nav-link text-warning" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Events
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item text-warning" href="{% url 'event:event_list' %}?created_by=gafyf@yahoo.com">Our Events</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-warning" href="{% url 'event:event_list' %}?country=Italy">Events in Italy</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-warning" href="{% url 'event:event_list' %}?country=Romania">Events in Romania</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-warning" href="{% url 'event:event_list' %}">Events in Europe</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>

          <li class="nav-item dropdown h5">
            <a class="nav-link text-warning" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gallery
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item text-warning" href="#">Motorcycles</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-warning" href="#">Events</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-warning" href="#">Places</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>


          <li class="nav-item dropdown h5">
            <a class="nav-link text-warning" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Itineraries
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item text-warning" href="{% url 'itinerary:itineraries' %}?country=Italy">Italy</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-warning" href="{% url 'itinerary:itineraries' %}?country=Romania">Romania</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-warning" href="{% url 'itinerary:itineraries' %}">All</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>


          <li class="nav-item dropdown h5">
            <a class="nav-link text-warning" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              News
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item text-warning" href="#">MotoGP</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-warning" href="#">Dakar</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>

          {% if user.is_superuser %}
          <li class="nav-item dropdown h5">
            <a class="nav-link text-warning" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Guestbook
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item text-warning" href="{% url 'guest:message_list' %}">Messages</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-warning" href="{% url 'guest:message_approval' %}">Messages to approve</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item h5">
            <a class="nav-link text-warning" href="{% url 'guest:message_list' %}">Guestbook</a>
          </li>
          {% endif %}
          
          <li class="nav-item dropdown h5">
            <a class="nav-link text-warning" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Account
            </a>
            <ul class="dropdown-menu dropdown-menu-dark">
              {% if user.is_authenticated %}
              <li>
                <a class="dropdown-item text-warning" href="{% url 'account:detail_profile' user.profile.id %}">
                  Account
                </a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-warning" href="{% url 'account:logout' %}">Logout</a></li>
              <li><hr class="dropdown-divider"></li>
              {% else %}
              <li><a class="dropdown-item text-warning" href="{% url 'account:login' %}">Login</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item text-warning" href="{% url 'account:signup' %}">Signup</a></li>
              <li><hr class="dropdown-divider"></li>
              {% endif %}
            </ul>
          </li>

          <li class="nav-item h5">
            <a class="nav-link text-warning" href="#">Chat</a>
          </li>

          <li class="nav-item h5">
            <a class="nav-link text-danger" href="{% url 'admin:index' %}">admin</a>
          </li>
          
          <li class="nav-item h5">
            <a class="nav-link text-warning" href="{% url 'weather:weather' %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cloud-sun" viewBox="0 0 16 16">
                <path d="M7 8a3.5 3.5 0 0 1 3.5 3.555.5.5 0 0 0 .624.492A1.503 1.503 0 0 1 13 13.5a1.5 1.5 0 0 1-1.5 1.5H3a2 2 0 1 1 .1-3.998.5.5 0 0 0 .51-.375A3.502 3.502 0 0 1 7 8zm4.473 3a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5h-.027z"/>
                <path d="M10.5 1.5a.5.5 0 0 0-1 0v1a.5.5 0 0 0 1 0v-1zm3.743 1.964a.5.5 0 1 0-.707-.707l-.708.707a.5.5 0 0 0 .708.708l.707-.708zm-7.779-.707a.5.5 0 0 0-.707.707l.707.708a.5.5 0 1 0 .708-.708l-.708-.707zm1.734 3.374a2 2 0 1 1 3.296 2.198c.199.281.372.582.516.898a3 3 0 1 0-4.84-3.225c.352.011.696.055 1.028.129zm4.484 4.074c.6.215 1.125.59 1.522 1.072a.5.5 0 0 0 .039-.742l-.707-.707a.5.5 0 0 0-.854.377zM14.5 6.5a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
              </svg>
            </a>
          </li>
        </ul>
        
        <span class="navbar-text h5">
          <div class='text-white px-3'>
            Romani pe doua roti
          </div>
          <div class="small mt-2" style=''>
            <span class='text-primary'>
              - all 
            </span>
            <span class='text-warning '>
              for 
            </span>
            <span class='text-danger'>
              one 
            </span>
            <span class='text-secondary small'>
              and 
            </span>
            <span class='text-success'>
              one 
            </span>
            <span style='color:#fff;'>
              for 
            </span>
            <span class='text-danger'>
              all -
            </span>
          </div>
        </span>
      </div>
    </div>
  </nav>